<body
  style="
    background-color: beige;

  "
>
<div class="image" 
      style="
            overflow: hidden; 
            align-items: center;
            padding: 0%;
            ">
  <img src="assets/images/Galaxy.jpg">
</div>
 <div
    style="
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
    ">
    <br>
    <mat-card class="experience" style="padding: 20px;">
      <mat-card class="card">
        <mat-card-title style="text-align: center;">Experience</mat-card-title>
      </mat-card>
      <br>
      <div class='container'>
            <mat-card class="card alt">
              <mat-card-header>
                <mat-card-title>All Lines Technology</mat-card-title>
                <mat-card-subtitle>Support Analyst I</mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <p>Sept 2023</p>
                <ul>
                  <li>
                    Diagnose and resolve intricate hardware and software challenges through meticulous troubleshooting, ensuring seamless functionality and optimal performance.
                  </li>
                  <li>
                    Identify and resolve complex network issues, implementing strategic solutions to enhance stability and ensure uninterrupted connectivity.
                  </li>
                  <li>
                    Manage and optimize Active Directory environments, demonstrating adeptness in user account management and group policy configuration.
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
            <mat-card class="card th">
              <mat-card-header>
                <mat-card-title>Treloar & Heisel</mat-card-title>
                <mat-card-subtitle>Information Technology Intern</mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <p>May 2021 - August 2021</p>
                <ul>
                  <li>
                    Utilized Nintex for data import/export between Excel and Applied Epic, streamlining data consolidation.
                  </li>
                  <li>
                    Implemented a Microsoft Excel application for recruiters to collect data on potential recruits.
                  </li>
                  <li>
                    Collaborated with team members to efficiently complete daily tasks and projects.
                  </li>
                  <li>
                    Created queries and cross-referenced data between Epic and HubSpot to prevent duplicates.
                  </li>
                  <li>
                    Reformatted computers with the company’s in-house software stack.
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
      </div>
    </mat-card>
    <br>
    <mat-card class="education" style="padding: 20px;">
      <mat-card class="card">
        <mat-card-title style="text-align: center;">Education</mat-card-title>
      </mat-card>
      <br>
      <mat-card class="card" style="padding: 20px;">
        <mat-card-header>
          <mat-card-title>All Lines Technology</mat-card-title>
          <mat-card-subtitle>Support Analyst I</mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-card-content>
          <p>Sept 2023</p>
          <ul>
            <li>
              Diagnose and resolve intricate hardware and software challenges through meticulous troubleshooting, ensuring seamless functionality and optimal performance.
            </li>
            <li>
              Identify and resolve complex network issues, implementing strategic solutions to enhance stability and ensure uninterrupted connectivity.
            </li>
            <li>
              Manage and optimize Active Directory environments, demonstrating adeptness in user account management and group policy configuration.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <br>
    <mat-card class="about" style="padding: 20px;">
      <mat-card class="card">
        <mat-card-title style="text-align: center;">About Me</mat-card-title>
      </mat-card>
      <br>
      <mat-card class="card" style="padding: 20px;">
        <mat-card-content>
          <ul>
            <li>
              🚀 Driven Support Analyst with a Passion for Technology and Problem-Solving 🚀
            </li>
            <br>
            <li>
              🌟 Who Am I?
              As a Support Analyst I at All Lines Technology, I've honed my skills over 2 years in the tech industry. I thrive on tackling challenges head-on, whether it's troubleshooting complex issues or diving into new coding languages.
            </li>
            <br>
            <li>
              💼 What Do I Do?
              My expertise spans across a range of coding languages including HTML, CSS, JavaScript, C++, Python, and SQL. Whether it's crafting elegant web solutions or optimizing database performance, I'm dedicated to delivering quality results. Currently, I'm pouring my energy into developing my personal website, a project that allows me to showcase my technical prowess and creativity.
            </li>
            <br>
            <li>
              🌱 Why Connect With Me?
              I'm not just a coder; I'm a problem solver. With a keen eye for detail and a knack for thinking outside the box, I excel both in collaborative team environments and when working autonomously. My goal is to leverage my skills to make meaningful contributions to innovative projects and drive positive change.
            </li>
            <br>
            <li>
              🔍 What's Next?
              Looking ahead, I'm eager to expand my horizons and transition into roles that allow me to flex my coding muscles even further. Whether it's as a software engineer bringing ideas to life or as an ethical hacker ensuring digital security, I'm committed to continuous learning and growth in the dynamic tech landscape.
            </li>
            <br>
            <li>
              📞 Let's Connect!
              If you're passionate about technology, problem-solving, or just want to exchange ideas, let's connect! Whether it's discussing the latest tech trends or exploring potential collaborations, I'm always open to new opportunities and connections.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <br>
    <mat-card class="about" style="padding: 20px;">
      <mat-card class="card">
        <mat-card-title style="text-align: center;">Contact Me</mat-card-title>
      </mat-card>
      <br>
      <mat-card class="card" style="padding: 20px;">
        <mat-card-content>
          <ul>
            <li>
              🌟 Let's Connect! 🌟
            </li>
            <br>
            <li>
              👋 Hello there! I'm thrilled you've stopped by. If you're passionate about technology, problem-solving, or just love connecting with like-minded individuals, I'd love to hear from you!
            </li>
            <br>
            <li>
              🌐 Whether you're exploring potential collaborations, have questions about my work, or simply want to exchange ideas, I'm all ears. Let's connect and see how we can support each other professionally.
            </li>
            <br>
            <li>
              💬 Shoot me a message via LinkedIn or drop me an email at (FILL IN EMAIL HERE), and let's start a conversation. Looking forward to connecting with you!
            </li>
          </ul>
          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter your email</mat-label>
              <input matInput
                     placeholder="pat@example.com"
                     [formControl]="email"
                     (blur)="updateErrorMessage()"
                     required>
              @if (email.invalid) {
                <mat-error>{{errorMessage}}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="s-img">
            <a href="https://www.linkedin.com/in/damian-quimby-410b3a14a/" target="_blank">
                <img src="assets/images/LI-In-Bug.png" alt="Image1">
            </a>
            <a href="https://github.com/Dquim" target="_blank">
                <img src="assets/images/github-mark.png" alt="Image1"> 
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <br>
  </div>
</body>
